// # Front-end Style Guide

// ## Layout

// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1440px


// ### Font
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
// font-family: 'Public Sans', sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;
  user-select: none;
}

// - Family: [Public Sans](https://fonts.google.com/specimen/Public+Sans)
// - Weights: 300, 400, 700

// ## Typography

// ### Body Copy
// - Font size: 18px
body {
  font-size: 18px;
  font-weight: 300;
  overflow-x: hidden;
}

:root {
// ## Colors

// ### Primary

// - Dark Blue: hsl(233, 26%, 24%)
  --primary-1:hsl(233, 26%, 24%);

// - Lime Green: hsl(136, 65%, 51%)
  --primary-2:hsl(136, 65%, 51%);

// - Bright Cyan: hsl(192, 70%, 51%)
  --primary-3:hsl(192, 70%, 51%);

// ### Neutral

// - Grayish Blue: hsl(233, 8%, 62%)
  --neutral-1:hsl(233, 8%, 62%);

// - Light Grayish Blue: hsl(220, 16%, 96%)
  --neutral-2:hsl(220, 16%, 96%);

// - Very Light Gray: hsl(0, 0%, 98%)
  --neutral-3:hsl(0, 0%, 98%);

// - White: hsl(0, 0%, 100%)
  --neutral-4:hsl(0, 0%, 100%);
}

//scroll smooth
html {
  scroll-behavior: smooth;
}

//reusable classes
.request__btn {
  width: 140px;
  height: 40px;
  min-width: 140px;
  padding: .5rem 1rem;
  border-radius: 50px;
  border: none;
  font-weight: 700;
  color: var(--neutral-2);
  cursor: pointer;
  background: linear-gradient(90deg, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%);
}

.request__btn:hover {
  background: linear-gradient(90deg, rgba(49,211,92,.75) 0%, rgba(43,183,218,.75) 100%);
}

.card__area {
  width: 100%;
  height: auto;
  min-height: 400px;
  max-width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}



nav {
  background-color: var(--neutral-4);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;

  .nav__logo {
    margin-left: 3rem;
  }

  .nav__list {
    display: flex;
    list-style: none;
    
    li {
      margin: 0 .8rem;

      a {
        text-decoration: none;
        font-weight: 500;
        color: var(--neutral-1);
        padding: 24px 0 24px;
        border-bottom: 5px solid transparent;
        border-image-slice: 1;
        border-width: 5px;
        transition: .4s;
      }

      a:hover {
        color: var(--primary-1);
        border-image-source: linear-gradient(90deg, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%);
      }
    }
  }

  .mobile__toogle {
    display: none;
  }

  #nav__request {
    margin-right: 3rem;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  #home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background-color: var(--neutral-3);
    background-image: url('../images/bg-intro-desktop.svg');
    background-position: right -300px center;
    background-repeat: no-repeat;

    .home__info {
      width: 100%;
      max-width: 40vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: baseline;

      h1 {
        width: 450px;
        font-weight: 400;
        font-size: 3rem;
        margin: 1rem 0;
        color: var(--primary-1);
        mix-blend-mode: multiply;

      }

      p {
        margin: 1rem 0;
        width: 450px;
        color: var(--neutral-1);
      }

      button {
        margin: 1rem 0;
      }

    }

    .home__image {
      width: 100%;
      max-width: 40vw;
      padding-left: 15vw;
      display: flex;
      align-items: center;
      position: relative;

      img {
        position: sticky;
        right: -400px;
      }
    }
  }

  #about{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 700px;
    padding: 2rem 0;
    background-color: var(--neutral-2);


    .about__info{
      width: 100%;
      max-width: 80vw;

      h2 {
        font-weight: 400;
        font-size: 2rem;
        color: var(--primary-1);
        margin: 1rem 0;
      }

      p{
        margin: 1rem 0;
        width: 50%;
        color: var(--neutral-1);
      }
    }

    //card__area { 

      .card__item:hover{
        border-bottom: 5px solid var(--primary-2);
        box-shadow: 0px 12px 2px hsl(136, 65%, 85%);
      }

      .card__item{
        width: 22%;
        min-width: 300px;
        height: 300px;
        margin: 1rem 1rem 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: bottom;
        align-items: left;
        border-radius: 0px 0px 10px 10px;
        border-bottom: 5px solid transparent;
        transition: 0.4s;

        svg {
          margin: 1rem 0;
        }

        h3 {
          margin: .5rem 0;
          font-weight: 400;
          color: var(--primary-1);
        }

        p {
          margin: .5rem 0;
          color: var(--neutral-1);
        }
      }
  //}
  }

  #contact {
    background-color: var(--neutral-3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 2rem 0;

    .contact__title {
      width: 100%;
      max-width: 80vw;
      display: flex;
      justify-content: left;

      h2 {
        font-weight: 400;
        font-size: 2rem;
        color: var(--primary-1);
        margin: 1rem 0;
      }
    }

    //.card__area {

      .article__card {
        width: 22%;
        min-width: 300px;
        height: 300px;
        margin: 1rem 1rem 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: bottom;
        align-items: left;
        height: 500px;
        background-color: var(--neutral-2);
        border-radius: 10px;
        overflow: hidden;

        .img__fild {
          width: 100%;
          height: 50%;
          min-height: 50%;
          max-height: 50%;
          overflow: hidden;
          
          img {
            transition: 0.4s;
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
          }
          
          img:hover {
            transform: scale(1.3);
          }
        }
                  
        h4 {
          margin: 1rem 1rem .5rem;
          font-weight: 300;
          color: var(--neutral-1);
        }

        h3 {
          margin: .5rem 1rem;
          font-weight: 400;
          color: var(--primary-1);

        }

        p {
          margin: .5rem 1rem 2rem 1rem;
          font-weight: 300;
          color: var(--neutral-1);
        }
      }
  //}
  }
}

footer {
  width: 100%;
  height: 200px;
  background-color: var(--primary-1);
  display: flex;
  justify-content: center;
  align-items: center;

  .footer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 80%;

    .footer__logo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 20%;
      height: 100px;

      .media__links {
        width: 100%;
        display: flex;
        justify-content: center;
        

        a {
          margin: 0.1rem;
          svg {
            path {
              fill: var(--neutral-2);
              transition: 0.4s;
            }
          }
        }
        a:hover svg path {
            fill: var(--primary-2);

        }
      }
    }

    .links {
      width: 20%;
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: left;
      margin-left: .5rem;

      a{
        text-decoration: none;
        font-weight: 400;
        transition: 0.4s;
        color: var(--neutral-2);
        text-transform: capitalize;
      }
      a:hover {
        color: var(--primary-2);
      }
    }
  }
  
  .copyrights {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: end;
    width: auto;
    height: 100px;
    position: relative;

    button {
      position: absolute;
      top: 0;
      right: 0;
    }

    p {
      color: var(--neutral-1);
      font-weight: 400;
    }
  }
}

@media screen and (max-width: 849px) {

  nav {
    
    .nav__list {
      display: flex;
      flex-direction: column;
      width: 30%;
      height: auto;
      visibility: hidden;
      background-color: white;
      position: absolute;
      top: 105%;
      left: 78%;
      transform: translate(-30%);
      border-radius: 8px;
      
      li {
        margin: .3rem .8rem;
        text-align: center;

        a {
          color: var(--primary-1);
          padding: 0;
          
        }

        a:hover {
        color: var(--primary-2);
        }
      }

    }

    #nav__request {
      display: none;   
    }

    .mobile__toogle {
      display: block;
      margin-right: 3rem;
      margin-top: -.8rem;

      #hamb{
        display: block;
      }

      #close {
        display: none;
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  
    #home {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 600px;
      background-color: var(--neutral-3);
      background-image: url('../images/bg-intro-desktop.svg');
      background-position: bottom -250px right -260px;
      background-repeat: no-repeat;
  
      .home__info {
        width: 100%;
        max-width: 80%;
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;

  
        h1 {
          width: 100%;
          font-weight: 400;
          font-size: 2rem;
          margin: 1rem 0;
          color: var(--neutral-4);
          mix-blend-mode: normal;  
        }
  
        p {
          margin: 1rem 0;
          width: 100%;
          max-width: 400px;
          color: var(--neutral-4);
        }
  
        button {
          margin: 1rem 0;
        }
  
      }
  
      .home__image {
        width: 100%;
        max-width: 375px;
        position: relative;
        display: flex;
  
        img {
          position: absolute;
          width: 420px;
          height: 550px;
          left: 130px;
          top: -250px;
        }
      }
    
    
    }

    #about{
  
  
      .about__info{

        p{
          width: 100%;
        }
      }
  
      .card__area { 
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 90vw;


        .card__item{
          width: 22%;
          min-width: 300px;
          height: 300px;
          margin: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: bottom;
          align-items: center;
          border-radius: 0px 0px 10px 10px;
          border-bottom: 5px solid transparent;
          transition: 0.4s;
        }
      }
    }

    #contact {
      .card__area { 
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 90vw;
      }
    }  
  }

  footer {
    width: 100%;
    height: auto;
    background-color: var(--primary-1);
    display: flex;
    justify-content: center;
    align-items: center;
  
    .footer {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      justify-content: space-between;
      align-items: center;
      min-width: 80%;
  
      .footer__logo {
        justify-content: space-evenly;

        .media__links {
          
          a {
            margin: 0.6rem;
          }
        }
      }
  
      .links {
        text-align: center;
      }
    }
    
    .copyrights {

      display: flex;
      flex-direction: column;
      align-items:center;
      justify-content: space-evenly;
      width: auto;
      height: 100px;
      position: relative;
  
      button {
        position: relative;
      }
  
      p {
        color: var(--neutral-1);
        font-weight: 400;
      }
    }
  }
}

@media screen and (max-width: 375px) {

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  
    #home {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
      background-color: var(--neutral-3);
      background-image: url('../images/bg-intro-mobile.svg');
      background-position: top;
      background-size: contain;
      background-repeat: no-repeat;
  
      .home__info {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 0rem;

  
        h1 {
          color: var(--primary-1);
        }
  
        p {
          color: var(--neutral-1);
        }  

        button {
          margin-bottom: 4rem;
        }
      }
  
      .home__image {
        width: 100%;
        max-width: 375px;
        position: relative;
        display: flex;
  
        img {
          position: relative;
          width: 300px;
          height: 420px;
          left: 0px;
          top: -80px;
        }
      }
    }

    #about{
      text-align: center;
    }

    #contact {  

      .contact__title {
        justify-content: center;
      }
    }
  }
}
